# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# ignore the annoying crap python virtualenv leaves lying around
webapp/lib
webapp/include
webapp/climasng/include
webapp/.Python
webapp/bin

# ignore vagrant's working dir
.vagrant

# we have to ignore lib dirs because they get scattered about
# everywhere, but DON'T ignore the static lib dir
!webapp/climasng/static/lib

# ignore the biodiversity.json and species.json files that are built
# on first access
webapp/climasng/data/species.json
webapp/climasng/data/biodiversity.json

# ignore some db stuff
webapp/climasng/db/sqlbuilder/old
webapp/climasng/db/sqlbuilder/*.sql
webapp/climasng/db/sqlbuilder/*.sqlite
webapp/climasng/db/*.sqlite

# ignore npm libraries
webapp/node_modules
webapp/old-nm

# random tester
utilityscripts/test.html
