@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v10/nj47mAZe0mYUIySgfn0wpQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v10/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v10/4cKlrioa77J2iqTqBgkRWg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://fonts.gstatic.com/s/lato/v10/LqowQDslGv4DmUBAfWa2Vw.ttf) format('truetype');
}
body {
  padding: 0;
  font-family: Lato, "Arial Unicode MS", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  /* light-text-on-dark is too bold on Macs */
  line-height: 1.4;
  color: #000;
  background: #eee;
  -moz-osx-font-smoothing: grayscale;
  /* light-text-on-dark is too bold on Macs */
}
@media screen {
  body {
    background: #2d4048;
    color: #222;
  }
}
a {
  color: #016;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input,
select,
option,
button {
  font-size: 90%;
  font-family: inherit;
  padding: 0.15em 0.5em;
}
select,
button {
  background-color: rgba(255, 255, 255, 0.33);
  border: 1px outset rgba(245, 239, 217, 0.5);
  border-radius: 3px;
}
select:hover,
button:hover {
  background-color: rgba(255, 255, 255, 0.66);
}
/* disclaimer overlay - - - - - - - - - - - - - - */
.disclaimer {
  opacity: 0.66;
  border-radius: 1em;
  border: dotted black 2px;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  position: absolute;
  right: 12%;
  top: -35em;
  z-index: 10000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 19em;
  height: 40em;
  padding-top: 5em;
  background: yellow;
  -webkit-transition: all 0.11s;
  transition: all 0.11s;
}
.disclaimer:hover {
  opacity: 1;
}
.disclaimer.show {
  opacity: 1;
  top: -5em;
  right: 14%;
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
}
.disclaimer p {
  margin: 0;
  padding: 0.75em 2em;
}
.disclaimer h1 {
  margin: 0;
  padding: 0.5em 1em;
  font-size: inherit;
  letter-spacing: 0.1em;
  display: block;
  text-transform: uppercase;
  text-align: center;
}
.disclaimer .bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
/* header - - - - - - - - - - - - - - - - - - - - */
header.page {
  opacity: 0.99;
  position: relative;
  z-index: 10;
  height: 120px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: white;
  background: #242732;
}
header.page h1 {
  float: left;
  padding: 0 0 0 4%;
  margin: 0;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 300;
  line-height: 75px;
  text-align: left;
  text-shadow: 2px 2px 5px #000;
}
header.page p {
  color: #fdfcf9;
  float: left;
  padding: 0 0 0 4%;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  line-height: 75px;
  text-shadow: 1px 1px 3px #000;
}
header.page img.logo {
  float: right;
  height: 59px;
  margin: 8px 4% 0;
  opacity: 0.25;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 55px;
  margin: -27.5px 4% 0;
  position: absolute;
  top: 37.5px;
  right: 0;
}
header.page img.logo:hover {
  opacity: 1;
}
/* navbar - - - - - - - - - - - - - - - - - - - - */
/*
    normal background: #242732 / 36,39,50 / @headerbackground
    darker: #1e212a / 30,33,42
    lighter: #2e3240 / 46,50,64
*/
nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #242732;
  background: -webkit-gradient(linear, left top, left bottom, from(#2e3240), to(#1e212a));
  background: -webkit-linear-gradient(top, #2e3240 0, #1e212a 100%);
  background: linear-gradient(to bottom, #2e3240 0, #1e212a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e3240', endColorstr='#1e212a');
}
nav ul {
  position: relative;
  left: -1px;
  float: left;
  padding: 0;
  margin: 0;
}
nav ul > li {
  display: block;
  float: left;
  height: 100%;
}
nav ul > li > a {
  display: block;
  float: left;
  height: 100%;
  padding: 0 2em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
nav ul > li > a:hover {
  text-decoration: none;
  cursor: pointer;
}
nav .main.menu {
  padding: 0;
  margin: 0 4% 0;
}
nav .main.menu > li {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  border: none;
  border-right: 1px solid #1e212a;
  border-left: 1px solid #2e3240;
}
nav .main.menu > li.current {
  background: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0, #1e212a), to(#2e3240));
  background: -webkit-linear-gradient(top, #1e212a 0, #2e3240 100%);
  background: linear-gradient(top, #1e212a 0, #2e3240 100%);
  border-right: 1px solid #2e3240;
  border-left: 1px solid #1e212a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e212a', endColorstr='#2e3240');
}
nav .main.menu > li.current a {
  opacity: 1;
}
nav .main.menu > li > a {
  color: #f5efd9;
  text-shadow: 0 1px 0 #2e3240, 0 -1px 0 #1e212a;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
nav .main.menu > li > a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
/*
    normal: efe6c5 / 239,230,197
    lighter: fff5d1 / 255,245,209 (or just #fff)
    darker: cfc6a9 / 207,198,169

    shaded thing: 216,201,167
*/
nav ul li ul {
  font-size: 90%;
  color: #016;
}
nav ul li ul > li {
  background: #cfc6a9;
  background: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0, #efe6c5), to(#cfc6a9));
  background: -webkit-linear-gradient(top, #efe6c5 0, #cfc6a9 100%);
  background: linear-gradient(top, #efe6c5 0, #cfc6a9 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
  border-radius: 3px 3px 0 0;
}
nav ul li ul > li.current,
nav ul li ul > li:hover {
  background: #f5efd9;
}
/* main content - - - - - - - - - - - - - - - - */
.maincontent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  margin: 0 4%;
  padding: 3em 4%;
  background: #f5efd9;
  line-height: 1.6;
}
.maincontent .textcolumn {
  max-width: 40em;
  margin: 0 auto;
}
.maincontent h1,
.maincontent h2,
.maincontent h3,
.maincontent h4,
.maincontent h5,
.maincontent h6 {
  font-weight: 900;
}
.maincontent .credits {
  padding: 1.5em 0 2em;
  margin: 4% -4.34782609% 0;
  text-align: center;
  background: white;
  -webkit-box-shadow: inset 0 0.5em 0.5em -0.25em rgba(0, 0, 0, 0.25), inset 0 -0.5em 0.5em -0.25em rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0.5em 0.5em -0.25em rgba(0, 0, 0, 0.25), inset 0 -0.5em 0.5em -0.25em rgba(0, 0, 0, 0.25);
}
.maincontent .credits a {
  display: inline-block;
  margin: 1em 2em;
  vertical-align: middle;
}
.maincontent .credits img {
  border: none;
}
/* footer - - - - - - - - - - - - - - - - - - - */
footer.page {
  position: absolute;
  bottom: 0;
  width: 92%;
  height: 30px;
  padding: 0 4%;
  margin: 0;
  font-size: 80%;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #242732;
}
footer.page p {
  padding: 0;
  margin: 0;
  opacity: 0.5;
  -webkit-transition: opacity 0.33s ease-in-out;
  transition: opacity 0.33s ease-in-out;
}
footer.page p:hover {
  opacity: 1;
}
footer.page img {
  vertical-align: middle;
}
footer.page a {
  color: #aabbff;
}
/* panel - - - - - - - - - - - - - - - - - - - - */
/* these are also styled by the mspp css */
div.mspp-panel {
  z-index: 2;
  position: absolute;
  top: 120px;
  -webkit-box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.5);
  width: 92%;
  left: 4%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f5efd9;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  border-radius: 0 0 2px 2px;
  overflow: hidden;
}
/* panel pages - - - - - - - - - - - - - - - - - */
div.mspp-panel > .mspp-page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em 4% 1.5em;
  margin: 0 auto;
  text-align: left;
  /* specific pages - - - - - - - - - - - - - */
  /* specific pages - - - - - - - - - - - - - */
  /* forms on pages - - - - - - - - - - - - - */
  /* logos area - - - - - - - - - - - - - - - */
}
div.mspp-panel > .mspp-page.current {
  display: inline-block;
}
div.mspp-panel > .mspp-page.short {
  padding: 0.5em 4% 0.75em;
}
div.mspp-panel > .mspp-page.short p {
  margin: 0.25em 0;
}
div.mspp-panel > .mspp-page.speciesselect #speciesname {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1em;
  margin: 0;
  font-size: 125%;
}
div.mspp-panel > .mspp-page input,
div.mspp-panel > .mspp-page select,
div.mspp-panel > .mspp-page option,
div.mspp-panel > .mspp-page button {
  font-size: inherit;
  font-family: inherit;
}
div.mspp-panel > .mspp-page button {
  margin: 0 1em;
  padding: 0.5em 1em;
}
div.mspp-panel > .mspp-page fieldset {
  margin: 1em;
  padding: 1em 0;
}
div.mspp-panel > .mspp-page .disabled {
  opacity: 0.5;
}
div.mspp-panel > .mspp-page form.formblocks {
  text-align: center;
}
div.mspp-panel > .mspp-page form.formblocks fieldset.formblock {
  display: inline-block;
  *display: inline;
  /* ie fix */
  padding: 0 0.5em 1em;
  text-align: left;
  vertical-align: top;
  background: -webkit-radial-gradient(bottom right, ellipse farthest-side, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0));
  background: -webkit-radial-gradient(ellipse farthest-side at bottom right, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0));
  background: radial-gradient(ellipse farthest-side at bottom right, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0));
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-width: 3px 0;
  border-radius: 12px;
  zoom: 1;
  /* ie fix */
}
div.mspp-panel > .mspp-page form.formblocks fieldset.formblock h3 {
  padding: 1em 0 0.75em;
  margin: 0;
  font-size: inherit;
  font-weight: 900;
  opacity: 0.8;
}
div.mspp-panel > .mspp-page form.formblocks fieldset.formblock label {
  display: block;
}
div.mspp-panel > .mspp-page form.formblocks fieldset.formblock input[type="radio"] {
  margin-right: 0.3em;
}
div.mspp-panel > .mspp-page form.formblocks fieldset.wide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
div.mspp-panel > .mspp-page form.formblocks fieldset.wide input {
  width: 100%;
}
div.mspp-panel > .mspp-page .taxa_selector {
  position: relative;
  padding-bottom: 3em;
}
div.mspp-panel > .mspp-page .formblock.taxon {
  min-width: 11.5em;
  /* random estimate */
}
div.mspp-panel > .mspp-page .taxa_dd {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  left: 1.25em;
  padding: 0.25em 0;
  clear: both;
  /* this is for IE6 :( */
  visibility: hidden;
  zoom: 1;
  /* another dagger in my heart from IE */
}
div.mspp-panel > .mspp-page .credits {
  padding: 1.5em 0.5em 2em;
  margin: 0 -4.34782609%;
  text-align: center;
  background: white;
  -webkit-box-shadow: inset 0 0.5em 0.5em -0.25em rgba(0, 0, 0, 0.25), inset 0 -0.5em 0.5em -0.25em rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0.5em 0.5em -0.25em rgba(0, 0, 0, 0.25), inset 0 -0.5em 0.5em -0.25em rgba(0, 0, 0, 0.25);
}
div.mspp-panel > .mspp-page .credits a {
  display: inline-block;
  margin: 1em 2em;
  vertical-align: middle;
}
div.mspp-panel > .mspp-page .credits img {
  border: none;
}
